@import url(fontawesome.css);
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
    background-image: url(assets/page-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

#warning{
  font-weight: 800;
  color: white;
  background-color: rgba(255, 0, 0, 0.247);
  margin-left: 20px;
  padding:2px;
}

/* Nav-bar */

.c1{
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 10px;
    height: 50%;
    max-height:100px;
    background-color: #1e1e1e;
    border-bottom: 2px solid white;;
}
.navbar-default{
    background-color: #1e1e1e;
}

.nav-link{
    color:white;
}

.nav-nfo{
    color:white;
    margin: 20px;
}

.i1{
    color: white;
    position: relative;
}

.i2{
    color: white;
    text-align: center;
}

.nav-bar{
    font-size: 20px;
}

.nav-item{
    color:white !important
}

.form{
    margin-top:17900px;
    margin-bottom: 200px;
}

.post-date{
    width: 100%;
    text-align: center;
    color: white;
}

input[type=text] {
    margin: 5px;
    padding:20px;
    background-color: #1e1e1e;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    border-radius: 4px;
}

input[type=email] {
    margin: 5px;
    padding:20px;
    background-color: #1e1e1e;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    border-radius: 4px;
}

textarea[type=blg] {
    margin: 5px;
    margin-bottom: 12px;
    padding:20px;
    background-color:#1e1e1e;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    border-radius: 4px;
}

.recent{
    margin-top: 100px;
    margin-bottom: 35px;
    text-align: center;
    color: white;
}

ul{
    display: block;
    float: left;
    height: 100px;
    list-style-type: none;
    margin: 10px;
}

fieldset{
    color: black !important
}

#logo{
    margin-top: 10px;
    width: 70%;
    max-width: 55px;
}

#page-wraper {
    background: url(../images/page-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

.my-container{
    width: 100%;
}

.blog-items{
    padding-left: 15px;
    background-color: rgba(0, 0, 0, 0.377);
}

.blog-title{
    color: white;
}

.blog-body{
    color:rgb(158, 158, 158)
}

.blog-rm{
    text-decoration: none;
    padding: 2px;
    color: #fff;
}

.blog-rm:hover{
    color: black;
    background-color: #fff;
    transition: 0.2s ease-out;
}

/* Basic */

input,
select,
textarea {
    outline: none;
}

a,
a:hover {
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

h4 {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.25px;
}

img {
    width: 100%;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    display: inline-block;
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
    margin: 0 auto;
}

.main-nav {
    text-align: center;
}

.main-nav li:last-child a {
    border-bottom: 2px solid #fff;
}

.main-nav li {
    display: block;
}

.main-nav li a {
    height: 70px;
    line-height: 70px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    width: 100%;
    transition: all 0.5s;
    border-top: 2px solid #fff;
}

.main-nav li:hover a,
.main-nav li.active a {
    background: #fff;
}

/* Buttons */

.white-button a {
    display: inline-block;
    padding: 12px 20px;
    background-color: #fff;
    color: #1e1e1e;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.white-button a:hover {
    background-color: #fff;
    color: #1e1e1e;
}

button {
    margin-left: 5px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    border: none;
    outline: none;
    cursor: pointer;
    border: 2px solid #fff;
}

button:hover {
    border: 2px solid #1e1e1e;
    outline: none;
    background-color: #fff;
    color: #1e1e1e;
}

/* Footer */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}
footer{
  position: fixed;
  margin-bottom: -256px;
  opacity: 40%;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #1e1e1e;
}

footer:hover{
  transition: .3s ease-in-out;
  opacity: 100%;
  margin-bottom: 0px;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #414141;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #1e1e1e;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #1e1e1e;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #fff;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #fff;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #1e1e1e;
  margin: 30px 5px 0 0;
}
.content .media-icons a:hover{
  border-color: #fff;
}
footer .bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #fff;
}

footer a:hover{
  color: #a38680;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}
